.App {
  text-align: center;
  background-color: skyblue;
}

.App img {
  margin: 5px;
  height: 150px;
  width: 200px;
}

.App h1 {
  font-weight: 900;
  color: brown;
}

.forcast-text-box {
  font-size: 30px;
}

.forcast-text-box h5 {
  font-size: 130%;
}